body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.bg-5 {
    background-color: #30c1db;
    color: #fff;
}

.bg-6 {
    background-color: #4dff4d;
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.title{
  margin-bottom: 15px;
  margin-top: 0px;
}

.description-container{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.help-div{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.who{
  margin-top: 30px;
}

.who h2{
  margin-bottom: 0px;
}

.who img{
  margin-top: 20px;
  margin-bottom: 25px;
}

.what h3{
  margin-bottom: 45px;
}

.help h3 , p{
  margin-bottom: 0px;
}

.send-me{
  margin-top: 20px;
}

div#links img{
  margin: 10px;
  border-radius: 3px;
}

/* media queries */

@media only screen and (max-width: 600px) {
  .modal-dialog{
    position: relative;
  }
}

@media only screen and (max-width: 458px) {
  div#links img{
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 434px) {
  div#links img{
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    right: 2px;
  }
}

@media only screen and (max-width: 400px) {
  div#links img{
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    right: 10px;
  }
}

@media only screen and (max-width: 375px) {
  div#links img{
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    right: 18px;
  }
}

@media only screen and (max-width: 340px) {
  div#links img{
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    right: 30px;
  }
}

@media only screen and (max-width: 320px) {
  div#links img{
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    right: 37px;
  }
}
